.grid-item {
    position: relative;
    background-image: url('../../../media/items/unknown.png');
}

.grid-item .item-5449016a4bdc2d6f028b456f {
    height: 64px;
    width: 64px;
    background-image: url('../../../media/items/roubles.png');
}

.grid-item .item-5696686a4bdc2da3298b456a {
    height: 64px;
    width: 64px;
    background-image: url('../../../media/items/dollars.png');
}

.grid-item .item-569668774bdc2da2298b4568 {
    height: 64px;
    width: 64px;
    background-image: url('../../../media/items/euros.png');
}

.grid-item .item-clickable:hover {
    cursor: pointer;
}

.grid-item .empty {
    height: 64px;
    width: 64px;
    background-image: url('../../../media/items/empty.png');
}

.grid-item .amount {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 13px;
}

.options {
    position: absolute;
    bottom: -30px;
    right: 0;
    background-color: var(--qwik-dirty-black);
    border: 1px solid var(--qwik-dark-background);
    font-size: 12px;
    z-index: 2;
    width: 100px;
}

.options .option {
    padding: 8px 4px;
}

.options .option:hover {
    cursor: pointer;
    color: var(--qwik-light-blue);

}
